<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>WUZZUF Analysis Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
    <h1>Select the option you want to display:</h1>
    <div class="button">
    <button class="button2" onclick="location.href='http://localhost:8080/job'">Show first data records</button>
    <button class="button2" onclick="location.href='http://localhost:8080/schema'">Show the structure</button>
    <button class="button2" onclick="location.href='http://localhost:8080/summary'" >Show summary</button>
    <button class="button2" onclick="location.href='http://localhost:8080/MostCompanies'">Show top companies</button>
    <button class="button2" onclick="location.href='http://localhost:8080/MostTitles'">Show top titles</button>
    <button class="button2" onclick="location.href='http://localhost:8080/MostLocations'">Show top areas</button>
    <button class="button2" onclick="location.href='http://localhost:8080/pieChart'">Show company pie chart</button>
    <button class="button2" onclick="location.href='http://localhost:8080/barChart_1'">Show title bar chart</button>
    <button class="button2" onclick="location.href='http://localhost:8080/barChart2'">Show location bar chart</button>
    <button class="button2" onclick="location.href='http://localhost:8080/skills'">Show top skills</button>
    <button class="button2" onclick="location.href='http://localhost:8080/factorize'">Show factorized years</button>
</div>

</body>

</html>