<!DOCTYPE html>
<html>
<head>
    <title>WUZZUF Analysis Project</title>
    <link href="../static/css/MainPage.css" th:href="@{/css/MainPage.css}" rel="stylesheet" />

</head>

<body>

<div class="main">
    <h1 style="color:antiquewhite; font-size: 70px"> Project Team</h1>
    <!-- First-->
    <div class="card">
        <div class="image">
            <img src = "../static/img/Heba.JPG" th:src="@{/img/Heba.JPG}">


        </div>
        <div class="title">
            <h1>Heba</h1>
        </div>
        <div class="des">
            <p>ITI Student ... Track AI</p>
        </div>
    </div>
    <!-- Second-->
    <div class="card">

        <div class="image">
            <img src="../static/img/Abdallah.jpg" th:src="@{img/Abdallah.jpg}"/>

        </div>
        <div class="title">
            <h1>Abdallah</h1>
        </div>
        <div class="des">
            <p>ITI Student ... Track AI</p>
        </div>
    </div>
    <!--Third-->
    <div class="card">

        <div class="image">
            <img src="../static/img/safaa.jpg" th:src="@{/img/safaa.jpg}"/>

            <!--            <img src="C:\Users\HeBa\Downloads\project_v6\project_v6\src\main\resources\Heba.JPG">-->
        </div>
        <div class="title">
            <h1>Safaa</h1>
        </div>
        <div class="des">
            <p>ITI Student ... Track AI</p>
        </div>
    </div>

    <!-- Fourth-->
    <div class="card">
        <div class="image">
            <img src="../static/img/Mahmoud.jpeg" th:src="@{/img/Mahmoud.jpeg}"/>
        </div>
        <div class="title">
            <h1>Mahmoud</h1>
        </div>
        <div class="des">
            <p>ITI Student ... Track AI</p>
        </div>
    </div>
    <div class="btn">
        <span onclick="location.href='http://localhost:8080/index'">Start Project</span>
        <div class="dot" ></div>
    </div>
</div>
</body>
</html>